Kali ini akan dilakukan pembacaan data banyak, dimana jumlah data sangat besar bahkan aplikasi Microsoft Excel saja tidak kuat untuk membukanya. Python atau lebih tepatnya Google Colab memiliki kelebihan untuk masalah ini, dimana operasi script dilakukan dengan perangkat server milik Google berbasis internet (cloud), sehingga perhitungan lebih cepat.

In [35]:
import pandas as pd
#Pandas merupakan modul yang sering digunakan untuk membaca data, karena mudah dan metode-metodenya yang sederhana
import numpy as np
import matplotlib.pyplot as plt

Akan membaca dua katalog gempa dan menggabungkannya menjadi satu. Pembacaan perlu dilakukan perubahan header sehingga penggabungan bisa dilakukan

In [36]:
data_USGS = pd.read_csv('Data USGS.txt',sep="\t")
data_USGS = data_USGS.rename(columns={'latitude': 'Lat', 'longitude': 'Lon', 'mag':'Mag','depth':'Depth','Seconds':'Second'})

data_EMSC = pd.read_csv('Data EMSC.txt',sep="\t")
data_EMSC = data_EMSC.rename(columns={'Latitude': 'Lat', 'Longitude': 'Lon', 'Magnitude':'Mag','Mont':'Month'})

In [37]:
#untuk menggabungkan kedua data
df=[data_USGS,data_EMSC]
df = pd.concat(df)

#melihat data
df

,Lat,Lon,Year,Month,Day,Mag,Depth,Hour,Minute,Second,M,Type
0,2.8465,95.3577,2021,12,4,4.9,10.00,15,29,33.987,mb,USGS
1,-6.7796,104.2230,2021,11,29,4.6,40.37,23,3,16.056,mb,USGS
2,-1.3075,99.7371,2021,11,29,4.6,49.99,15,25,44.797,mb,USGS
3,-2.5579,99.5117,2021,11,29,4.5,10.00,15,24,25.907,mb,USGS
4,0.2419,99.6101,2021,11,28,4.3,127.34,22,34,41.110,mb,USGS
...,...,...,...,...,...,...,...,...,...,...,...,...
4545,5.0600,95.0600,2004,12,26,6.3,33.00,1,25,44.000,mb,EMSC
4546,7.9900,94.6400,2004,12,26,6.1,162.00,1,21,48.000,mb,EMSC
4547,3.5000,95.7200,2004,12,26,9.3,10.00,0,58,50.000,Mw,EMSC
4548,-6.6200,109.2100,2004,12,24,4.8,300.00,23,54,49.000,mb,EMSC
4549,-2.7600,100.8800,2004,12,7,5.3,33.00,5,19,47.000,mb,EMSC

In [38]:
#mengurutkan data berdasarkan tahun, bulan, hari, jam, menit dan detik
df['M'] = df['M'].astype(str)
df = df.sort_values(by=['Year', 'Month', 'Day', 'Hour' , 'Minute','Second'])
df = df.reset_index(drop=True)

df

,Lat,Lon,Year,Month,Day,Mag,Depth,Hour,Minute,Second,M,Type
0,-8.8000,106.4420,1990,1,5,5.8,29.00,10,10,21.810,mw,USGS
1,11.5910,95.0170,1990,1,9,5.7,33.00,15,35,49.070,mw,USGS
2,11.6540,95.1430,1990,1,10,5.9,33.00,11,53,21.650,mw,USGS
3,-5.0060,102.4290,1990,1,11,4.8,33.00,21,23,35.630,mb,USGS
4,7.5040,94.1740,1990,1,13,4.1,33.00,19,11,47.290,mb,USGS
...,...,...,...,...,...,...,...,...,...,...,...,...
23397,0.2419,99.6101,2021,11,28,4.3,127.34,22,34,41.110,mb,USGS
23398,-2.5579,99.5117,2021,11,29,4.5,10.00,15,24,25.907,mb,USGS
23399,-1.3075,99.7371,2021,11,29,4.6,49.99,15,25,44.797,mb,USGS
23400,-6.7796,104.2230,2021,11,29,4.6,40.37,23,3,16.056,mb,USGS
23401,2.8465,95.3577,2021,12,4,4.9,10.00,15,29,33.987,mb,USGS

Terlihar di kolom M, terdapat perbedaan penulisan. Terdapat data yang tertulis dengan M besar ataupun m kecil, B besar atau b kecil, dst. Ini perlu diperbaiki sehingga pengolahan lebih mudah dilakukan.

In [39]:
#mengubah data menjadi bentuk list, sehingga lebih mudah untuk diolah
datalist = df.values.tolist()
kolom = df.columns
index = range(0,len(kolom))
header = dict(zip(kolom,index))

#algoritma perubahan data
for i in range(len(datalist)):
  if 'm' in datalist[i][header['M']].lower():
    if 'l' in datalist[i][header['M']].lower():
      datalist[i][header['M']] = 'Ml'
    elif 's' in datalist[i][header['M']].lower():
      datalist[i][header['M']] = 'Ms'
    elif 'w' in datalist[i][header['M']].lower():
      datalist[i][header['M']] = 'Mw'
    elif 'b' in datalist[i][header['M']].lower():
      datalist[i][header['M']] = 'Mb'

#mengembalikann list menjadi dataframe pandas
database = pd.DataFrame(datalist, columns = df.columns)
database = database.dropna()
database

,Lat,Lon,Year,Month,Day,Mag,Depth,Hour,Minute,Second,M,Type
0,-8.8000,106.4420,1990,1,5,5.8,29.00,10,10,21.810,Mw,USGS
1,11.5910,95.0170,1990,1,9,5.7,33.00,15,35,49.070,Mw,USGS
2,11.6540,95.1430,1990,1,10,5.9,33.00,11,53,21.650,Mw,USGS
3,-5.0060,102.4290,1990,1,11,4.8,33.00,21,23,35.630,Mb,USGS
4,7.5040,94.1740,1990,1,13,4.1,33.00,19,11,47.290,Mb,USGS
...,...,...,...,...,...,...,...,...,...,...,...,...
23397,0.2419,99.6101,2021,11,28,4.3,127.34,22,34,41.110,Mb,USGS
23398,-2.5579,99.5117,2021,11,29,4.5,10.00,15,24,25.907,Mb,USGS
23399,-1.3075,99.7371,2021,11,29,4.6,49.99,15,25,44.797,Mb,USGS
23400,-6.7796,104.2230,2021,11,29,4.6,40.37,23,3,16.056,Mb,USGS
23401,2.8465,95.3577,2021,12,4,4.9,10.00,15,29,33.987,Mb,USGS

Jika diketahui bahwa urutan kepercayaan data dari yang terpercaya adalah EMSC kemudian USGS maka dapat tambahkan urutan berdasarkan

In [40]:
#mengubah data menjadi angka, sehingga lebih mudah untuk diurut
database['Type'] = database['Type'].replace(['USGS','EMSC',],[1,2])
database = database.sort_values(by=['Year', 'Month', 'Day', 'Hour' , 'Minute','Second','Type'])
database = database.reset_index(drop=True)

#mengembalikan nama katalog menjadi nama
database['Type'] = database['Type'].replace([1,2],['USGS','EMSC'])

database

,Lat,Lon,Year,Month,Day,Mag,Depth,Hour,Minute,Second,M,Type
0,-8.8000,106.4420,1990,1,5,5.8,29.00,10,10,21.810,Mw,USGS
1,11.5910,95.0170,1990,1,9,5.7,33.00,15,35,49.070,Mw,USGS
2,11.6540,95.1430,1990,1,10,5.9,33.00,11,53,21.650,Mw,USGS
3,-5.0060,102.4290,1990,1,11,4.8,33.00,21,23,35.630,Mb,USGS
4,7.5040,94.1740,1990,1,13,4.1,33.00,19,11,47.290,Mb,USGS
...,...,...,...,...,...,...,...,...,...,...,...,...
23395,0.2419,99.6101,2021,11,28,4.3,127.34,22,34,41.110,Mb,USGS
23396,-2.5579,99.5117,2021,11,29,4.5,10.00,15,24,25.907,Mb,USGS
23397,-1.3075,99.7371,2021,11,29,4.6,49.99,15,25,44.797,Mb,USGS
23398,-6.7796,104.2230,2021,11,29,4.6,40.37,23,3,16.056,Mb,USGS
23399,2.8465,95.3577,2021,12,4,4.9,10.00,15,29,33.987,Mb,USGS